<div id="root">
  {% liquid
    # Relative to entrypointsDir
    render 'vite-tag' with 'theme.css'
    render 'vite-tag' with 'theme.jsx'
  %}
</div>

<script>
  let currentProduct = {{ product | json }};
</script>

{% schema %}
  {
    "name": "Sample React Extension",
    "templates": ["product"],
    "target": "section",
    "settings": []
  }
{% endschema %}